/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #34495e;
  margin: 20px 0;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#result,
#postResult {
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

form {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #27ae60;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #2ecc71;
}

/* Centrando el botón y el título de POST */
#fetchDataBtn {
  display: block;
  margin: 20px auto;
}

#dataForm h2 {
  text-align: center;
}
